body {
  text-align: center;
  vertical-align: middle;
  font-family: Helvetica; sans-serif;

}

#callout {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-color: black;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

#nav {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-color: black;
  font-size: 18px;
  color: white;
}

a {
  color: white;
}

#footer {
  background-color: dimgray;
  color: white;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}
